.vs/
.vscode/
x64/
**/x64/
Debug/
Release/
*.aps
*.user
*.suo
*.obj
*.pdb
*.idb
*.ilk
*.ipch
*.ifc
*.log
*.tlog
*.recipe
*.enc
*.db
*.db-shm
*.db-wal
*.vsidx
*.opendb
_local_untracked/
_gitmeta/
_gitmeta_before_largefile_cleanup/
